body {
  background-color: var(--bs-dark);
}

.form-control {
  background-color: var(--bs-dark)!important;
}


.header-wrapper {
  background: var(--bs-dark);
  z-index: 10;

  &::after {
    content: "";

    display: inline-block;
    width:100%;
    height:5rem;

    position: absolute;
    top:100%;
    left:0;
    right:0;

    background-image: linear-gradient(to bottom, var(--bs-dark), transparent);
  }
}

[data-anim-fadein] {
  opacity:0;
}

#main-content-padding {
  width:100%;
  height:97px;
}

#main-content-shadow-padding {
  width:100%;
  height:80px;
}

#main-content-row {
  height:100%;

  #hero-wrapper {
      height: calc(100vh - 97px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hero-content * {
        text-shadow: 0 0 30px var(--bs-dark);
      }
  }

  .content-slide {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.content-slide-full {
      height: calc(100vh - 97px);
    }
  }
}

.quote-wrapper {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;

  .quote {
    position: relative;
    max-width: 42rem;
    margin: 4rem auto;
    align-self: center;

    .quote-main {
      position: relative;
      font-size: 2.8rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      border: 2px solid var(--bs-secondary);
      border-radius: 1.5rem;
      padding: 1.5rem;
      background-color: var(--bs-dark);

      &::before {
        content:"";
        position: absolute;
        width: 5rem;
        border: 6px solid var(--bs-dark);
        bottom: -2px;
        left: 3.5rem;
        z-index: 2;
      }

      &::after {
        content:"";
        position: absolute;
        border: 2px solid var(--bs-secondary);
        border-radius: 0 3rem 0 0;
        width: 3.5rem;
        aspect-ratio: 1/1;
        bottom: -3.5rem;
        left: 3.5rem;
        border-bottom: none;
        border-left: none;
        z-index: 3;
      }
    }

    .quote-author {
      position: relative;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      padding-top: 1.2rem;
      z-index: 1;
      margin-left: 9rem;
      padding-left: 12px;

      &:first-letter {
        margin-left: -12px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .quote-wrapper .quote .quote-main {
    font-size: 1.8rem;
  }
  .quote-wrapper .quote .quote-author {
    font-size: 1rem;
  }
  .quote-wrapper .quote .quote-main::before, 
  .quote-wrapper .quote .quote-main::after {
    left: 1.5rem;
  }
  .quote-wrapper .quote .quote-author {
    margin-left: 7rem;
  }
}

@media screen and (max-width: 767px) {
  .quote-wrapper .quote .quote-main {
    font-size: 1.2rem;
  }
  .quote-wrapper .quote .quote-author {
    font-size: 1rem;
  }
  .quote-wrapper .quote .quote-main::before {
    width: 3rem;
  }
  .quote-wrapper .quote .quote-main::after {
    width: 2rem;
    bottom: -2rem;
  }
  .quote-wrapper .quote .quote-author {
    padding-top: .7rem;
    margin-left: 5rem;
  }
}

.card {

  --bs-card-bg: #161616;
  --bs-card-border-color: rgba(var(--bs-primary-rgb),.25);

  .card-scrolling-text-wrapper {
    height: 20rem;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    pointer-events: none;
  
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 2rem;
      background-image: linear-gradient(to bottom, var(--bs-card-bg), transparent);
      z-index: 3;
    }
  
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 2rem;
      background-image: linear-gradient(to top, var(--bs-card-bg), transparent);
      z-index: 3;
    }
  
    .scrolling-text {
      z-index: 2;
      position: absolute;
      top: 2rem;
      transform: translateY(0px);
    }
  }
}


#duck-canvas-wrapper {
  position: sticky;
  top: 97px;

  #duck-canvas {
    position: relative;
  }
}

#slide-fightclub p {
  text-shadow: 0 0 30px var(--bs-dark);
}

#slide-wikipedia .content-slide-content {
  width:100%;
}

@media screen and (max-width:575px) {
  #duck-column {
    padding: 0!important;
    width: 100vw!important;
    position:absolute;
  }

  #duck-canvas-wrapper {
    filter:brightness(0.5)
  }
}

@media screen and (max-width: 420px) {
  .navbar .container-fluid {
    flex-direction:column;
  }
}

@media screen and (max-width: 320px) {
  .navbar .navbar-title {
    flex-direction: column;
  }
}

.navbar .container-fluid {
  grid-row-gap:1rem
}

.navbar .navbar-title {
  grid-column-gap:1rem;
  grid-row-gap:1rem;
}


.calendar-table-wrapper {
  overflow-x: scroll;

  .calendar-table {
    min-width: 900px;

    .calendar-day {
      width: 100px;
      min-width: 100px;
      max-width: 100px;
      height: 80px;

      .event {
        --border-color: #ffc64d;
        --gradient-start: #ffe7b3;
        --gradient-end: #ffd780;
        --color: #b37a00;
      
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        background-image: linear-gradient(to bottom, var(--gradient-start) 0px, var(--gradient-end) 100%);
        background-repeat: repeat-x;
        color: var(--color);
        border-width: 1px;
        font-size: .75em;
        padding: 0 .75em;
        line-height: 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 1px;

        &.spacer {
          border-color: transparent;
          background: transparent;
        }

        &.begin {
          border-left: 1px solid var(--border-color);
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        &.end {
          border-right: 1px solid var(--border-color);
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        &.all-day {
          --border-color: #9acfea;
          --gradient-start: #d9edf7;
          --gradient-end: #b9def0;
          --color: #31708f;
        }

      }
    }

    th, td {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
